<h1>Edit Zombie</h1>

<%= twitter_bootstrap_form_for @zombie do |f| %>
    <%=f.text_field :name %>
    <%=f.text_field :graveyard %>
    <%=f.text_field :nickname %>
    <span id="nickname_error" class="error">Nicknames can only contain these characters: a g h n r o u !</span>

  <%=f.text_area :description, '', size: '40x20' %>
  <%=f.text_field :date_of_birth %>
  <%=f.text_field :date_of_death %>
  <%=f.text_field :date_of_undeath %>

  <%= f.select :creator_id, 'Creator',
    options_for_select(["",""] + Zombie.all(:sort=>'name_sort desc').reject{|z| z==@zombie}.map{|z| [ z.name, z.id ]}, @zombie.creator_id) %>
  <%=f.text_field :weapon %>

    <div class="zombieCreateRow">
      <%# <div class="field">
      <%#   <% if @zombie.avatar? 
      <%#       <%= image_tag @zombie.avatar.url(:thumb) 
      <%#   <% end 
      <%#   <%= f.file_field :avatar 
      <%#   <span class="label label-important">JPG, GIF, or PNG (less than 2MB)</span>
      <%# </div>%>
    </div>

  <%=f.submit %>
<% end %>

<p><%=link_to "View Zombie", zombie_path(@zombie)%></p>
<p><%= link_to "home", zombies_path %></p>
