<h1>Edit Zombie</h1>

<%= twitter_bootstrap_form_for @zombie do |f| %>
    <%=f.text_field :name %>
    <%=f.text_field :graveyard %>
    <%=f.text_field :nickname %>
    <span id="nickname_error" class="error">Nicknames can only contain these characters: a g h n r o u !</span>

    <%=f.text_field :description %>
  <%=f.date_select :date_of_birth, :start_year => 1500 %>
  <%=f.date_select :date_of_death %>
  <%=f.date_select :date_of_undeath %>
    
  <%= f.select(:creator_id, 'Creator', options_for_select(["",""]+ @zombies, @zombie.creator_id)) %>

  <%=f.text_field :weapon %>
  <%= f.submit %>
<% end %>

<p><%=link_to "View Zombie", zombie_path(@zombie)%></p>
<p><%= link_to "home", zombies_path %></p>
