<h1>Edit Zombie</h1>

<%= form_for @zombie do |f| %>
  <p>
    <%=f.label :name %>
    <%=f.text_field :name %>
  </p>
  <p>
    <%=f.label :graveyard %>
    <%=f.text_field :graveyard %>
  </p>
  <p>
    <%=f.label :nickname %>
    <%=f.text_field :nickname %>
    <span id="nickname_error" class="error">Nicknames can only contain these letters: a g h n r o u</span>
  </p>
  <%=f.label :creator %>
  <%= select_tag(:creator, options_for_select([""]+Zombie.order(:name).reject{|z| z==@zombie}.map{|z| z.name})) %>
  <br>
  <p><%=f.submit %></p>
<% end %>

<p><%=link_to "View Zombie", zombie_path(@zombie)%></p>
<p><%= link_to "home", zombies_path %></p>
