<h1>Edit Zombie</h1>

<%= form_for @zombie do |f| %>
  <p>
    <%=f.label :name %>
    <%=f.text_field :name %>
  </p>
  <p>
    <%=f.label :graveyard %>
    <%=f.text_field :graveyard %>
  </p>
  <p>
    <%=f.label :nickname %>
    <%=f.text_field :nickname %>
    <span id="nickname_error" class="error">Nicknames can only contain these letters: a g h n r o u</span>
  </p>
  <p>
    <%=f.label :description %>
    <%=f.text_field :description %>
  </p>
<p>
  <%=f.label :date_of_birth %>
  <%=f.date_select :date_of_birth, :start_year => 1500 %>
</p>
<p>
  <%=f.label :date_of_death %>
  <%=f.date_select :date_of_death %>
</p>
<p>
  <%=f.label :date_of_undeath %>
  <%=f.date_select :date_of_death %>
</p>

<p>  
  <%=f.label :creator %>
  <%= select_tag(:creator, options_for_select([""]+Zombie.order(:name).reject{|z| z==@zombie}.map{|z| z.name})) %>
</p>
  <p>
    <%=f.label :creator_id %>
    <%=f.select(:creator_id, options_for_select(["",""]+ Zombie.order(:name).reject{|z| z==@zombie}.map{|z| [ z.name, z.id ]}, @zombie.creator_id)) %>
  </p>



 <p>

  <%=f.label :weapon %>
  <%=f.text_field :weapon %>
</p>

    <div class="zombieCreateRow">
      <%= f.label :avatar %>
      <div class="field">
        <% if @zombie.avatar? %>
            <%= image_tag @zombie.avatar.url(:thumb) %>
        <% end %>
        <%= f.file_field :avatar %>
        <span class="label label-important">JPG, GIF, or PNG (less than 2MB)</span>
      </div>
    </div>

  <p><%=f.submit %></p>

<% end %>

<p><%=link_to "View Zombie", zombie_path(@zombie)%></p>
<p><%= link_to "home", zombies_path %></p>
