<h1>Create a new Zombie</h1>
<%= form_for @zombie do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name %>
  <br>
  <%=f.label :graveyard %>
  <%=f.text_field :graveyard %>

  <br>
  <%=f.label :nickname %>
  <%=f.text_field :nickname %>
  
  
  <br>
  <%=f.label :description %>
  <%=f.text_field :description %>
  <br>

<br>
  <%=f.label :weapon %>
  <%=f.text_field :weapon %>

  <%=f.submit %>
<%end%>
