
<h2 id="zombie_name"><%= @zombie.name %> <%= link_to 'Edit', edit_zombie_path(@zombie) %></h2>
<table class="table table-striped" id="zombie_details">
  <tbody>
    <tr>
      <td>Avatar</td>
      <td><%= image_tag @zombie.avatar.url(:medium) %></td>
    </tr>
    <tr>
      <td>Level</td>
      <td><%= @zombie.level %></td>
    </tr>
    <tr>
      <td>Graveyard</td>
      <td><%= @zombie.graveyard %></td>
    </tr>
    <tr>
      <td>Nickname</td>
      <td><%= @zombie.nickname %></td>
    </tr>
    <tr>
      <td>Date of death</td>
      <td><%= @zombie.date_of_death.blank? ? '-' : @zombie.date_of_death.strftime("%B %e, %Y") %></td>
    </tr>
    <tr>
      <td>Active</td>
      <td><%= @zombie.active? ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @zombie.description %></td>
    </tr>
  </tbody>
</table>


<h2 id="tweets">Tweets (<%= @zombie.tweets.count %>)</h2>
<%= form_for @tweet do |f| %>
  <%= f.hidden_field :zombie_id %>
  <%= f.text_field :message %>
  <%= f.submit "Add Tweet" %>
<% end %>

<table class="table table-striped">
  <% @zombie.tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.message %> (<%= tweet.created_at.strftime("%B %e, %Y") %>)</td>
    </tr>
  <% end %>
</table>


