<div id="preview" class="span12">
  <div id="avatar" class="span4">
    <%# image_tag @zombie.avatar.url(:medium) %>
  </div>
  <div id="overview" class="offset1 span6">
    <h2 id="zombie_name"><%= @zombie.name %> <%= link_to 'Edit', edit_zombie_path(@zombie) %></h2>
    <div class="btn-group">
      <button class="btn"><%= link_to 'Edit', edit_zombie_path(@zombie) %></button>
      <button class="btn"><%= link_to 'History', zombie_history_path(@zombie) %></button>
    </div>
    <p>
    <% if @zombie.description.present? %>
      <%= @zombie.description %>
    <% else %>
      <em>No description provided</em>
    <% end %>
    </p>
  </div>
</div>

<h2 id="zombie_name"><%= @zombie.name %> <%= link_to 'Edit', edit_zombie_path(@zombie) %></h2>
<table class="table table-striped" id="zombie_details">
  <tbody>
    <tr>
      <td>Level</td>
      <td><%= @zombie.level %></td>
    </tr>
    <tr>
      <td>Graveyard</td>
      <td><%= @zombie.graveyard %></td>
    </tr>
    <tr>
      <td>Nickname</td>
      <td><%= @zombie.nickname %></td>
    </tr>
    <tr>
      <td>Date of death</td>
      <td><%= @zombie.date_of_death.blank? ? '-' : @zombie.date_of_death %></td>
    </tr>
    <tr>
      <td>Date of undeath</td>
      <td><%= @zombie.date_of_undeath.blank? ? '-' : @zombie.date_of_undeath %></td>
    </tr>
    <tr>
      <td>Active</td>
      <td><%= @zombie.active == true ? 'Yes' : 'No' %></td>
    </tr>
  </tbody>
</table>

<h2 id="tweets">Tweets (<%= @zombie.tweets.count %>)</h2>
<%= form_for @tweet do |f| %>
  <%= f.hidden_field :zombie_id %>
  <%= f.text_field :message %>
  <%= f.submit "Add Tweet" %>
<% end %>

<table class="table table-striped" id="zombie_tweets">
  <thead>
    <tr>
      <td>&nbsp;</td>
      <td>Rating</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
  <% @zombie.tweets.each do |tweet| %>
    <tr id="tweet_<%= tweet.id %>">
      <td class="message"><%= tweet.message %> (<%# tweet.created_on.strftime("%B %e, %Y") %>)</td>
      <td class="like_count"><%= tweet.rating %></td>
      <td class="like_update">
        <%= form_for tweet do |f| %>
          <%= hidden_field_tag 'id', tweet.id %>
          <%= f.submit 'Like' %>
        <% end %>
    </tr>
  <% end %>
  </tbody>
</table>


