<h1>Show Zombie</h1>
<dl id="zombie_details">
  <dt>Name:</dt>
  <dd><%= @zombie.name %></dd>
  <dt>Graveyard:</dt>
  <dd><%= @zombie.graveyard %></dd>
  <dt>Nickname:</dt>
  <dd><%= @zombie.nickname %></dd>
  <% if @zombie.date_of_death != nil%>
  <dt>Date of Death:</dt>
  <dd><%= @zombie.date_of_death.strftime("%B %e, %Y") %></dd>
  <% end %>
</dl>

<%= link_to "edit", edit_zombie_path(@zombie) %>
<%= link_to "home", zombies_path %>
