<h1>Show Zombie</h1>

<h2 id="zombie_name"><%= @zombie.name %></h2>
<p class="lead">
  <% if @zombie.description.present? %>
    <%= @zombie.description %>
  <% else %>
    No description provided
  <% end %>
</p>

<table class="table table-striped" id="zombie_details">
  <tbody>
    <tr>
      <td>Level</td>
      <td><%= @zombie.level %></td>
    </tr>
    <tr>
      <td>Graveyard</td>
      <td><%= @zombie.graveyard %></td>
    </tr>
    <tr>
      <td>Nickname</td>
      <td><%= @zombie.nickname %></td>
    </tr>
    <tr>
      <td>Date of death</td>
      <td><%= @zombie.date_of_death.blank? ? '-' : @zombie.date_of_death.strftime("%B %e, %Y") %></td>
    </tr>
    <tr>
      <td>Active</td>
      <td><%= @zombie.active? ? 'Yes' : 'No' %></td>
    </tr>
  </tbody>
</table>

<ul class="nav nav-pills">
  <li><%= link_to "Edit zombie", edit_zombie_path(@zombie), class: 'btn' %>
  <li><%= link_to "History", zombie_history_path(@zombie), class: 'btn' %>
</ul>

<h2 id="tweets">Tweets (<%= @zombie.tweets.count %>)</h2>
<%= form_for @tweet do |f| %>
  <%= f.hidden_field :zombie_id %>
  <%= f.text_field :message %>
  <%= f.submit "Add Tweet" %>
<% end %>

<table class="table table-striped" id="zombie_tweets">
  <thead>
    <tr>
      <td>&nbsp;</td>
      <td>Rating</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
  <% @zombie.tweets.each do |tweet| %>
    <tr id="tweet_<%= tweet.id.gsub(':', '_') %>">
      <td class="message"><%= tweet.message %> (<%= tweet.created_at.strftime("%B %e, %Y") %>)</td>
      <td class="like_count"><%= tweet.rating %></td>
      <td class="like_update">
        <%= form_for tweet do |f| %>
          <%= hidden_field_tag 'id', tweet.id %>
          <%= f.submit 'Like' %>
        <% end %>
    </tr>
  <% end %>
  </tbody>
</table>


