<h1>Show Zombie</h1>
<dl>
  <dt>Name:</dt>
  <dd><%= @zombie.name %></dd>
  <dt>Graveyard:</dt>
  <dd><%= @zombie.graveyard %></dd>
</dl>

<%= link_to "edit", edit_zombie_path(@zombie) %>

<h2>Tweets</h2>
<ul>
  <% @zombie.tweets.each do |tweet| %>
    <li><span class="message"><%= tweet.message %></span><br/>
        <span class="timestamp"><%= tweet.created_at.to_s %></span></li>
  <% end %>
</ul>
