<h1>Show Zombie</h1>
<dl id="zombie_details">
  <dt>Name:</dt>
  <dd><%= @zombie.name %></dd>
  <dt>Level:</dd>
  <dd>level <%= @zombie.level %></dd>
  <dt>Graveyard:</dt>
  <dd><%= @zombie.graveyard %></dd>
  <dt>Description:</dt>
  <dd><%= @zombie.description %></dd>
  <dt>Nickname:</dt>
  <dd><%= @zombie.nickname %></dd>
  <% if @zombie.date_of_birth != nil%>
  <dt>Date of Birth:</dt>
  <dd><%= @zombie.date_of_birth.strftime("%B %e, %Y") %></dd>
  <% end %>
  <% if @zombie.date_of_death != nil%>
  <dt>Date of Death:</dt>
  <dd><%= @zombie.date_of_death.strftime("%B %e, %Y") %></dd>
  <% end %>
  <% if @zombie.date_of_undeath != nil%>
  <dt>Date of Undeath:</dt>
  <dd><%= @zombie.date_of_undeath.strftime("%B %e, %Y") %></dd>
  <% end %>
  <dt>Active:</dt>
  <dd><%= @zombie.active.to_s %></dd>
  <dt>Number of Tweets:</dt>
  <dd><%= @zombie.tweets.count %></dd>
</dl>

<%= link_to "edit", edit_zombie_path(@zombie) %>

<%= form_for @tweet do |f| %>
  <%= f.hidden_field :zombie_id %>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.submit "Add Tweet" %>
<% end %>

<ul>
<% @zombie.tweets.each do |tweet| %>
  <li><%= tweet.message %></li>
<% end %>
</ul>

<%= link_to "home", zombies_path %>

<h2>Tweets</h2>
<ul>
  <% @zombie.tweets.each do |tweet| %>
    <li><span class="message"><%= tweet.message %></span><br/>
        <span class="timestamp"><%= tweet.created_at.to_s %></span></li>
  <% end %>
</ul>
