<!DOCTYPE html>
<html>

<head>
  <title>Archivists v. Zombies beta</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- HEADER -->
<div class="row span12">
  <h1>Twitter ... for Zombie Archivists</h1>
</div>
<!-- MAIN BODY -->
<div class="row span12">
  <%= render partial: 'globals/navigation' %>
  <!-- User navigation -->
  <%= render partial: 'globals/user_management' %>

  <!-- Page heading -->
  <div class="span12">
    <h2><%= yield :title || 'Twitter ... for Zombie Archivists' %></h2>
  </div>

  <!-- Content container -->
  <div class="span12" id="content_body">
    <%= render partial: 'globals/flash_messages' %>
    <%= yield %>
  </div>
</div>

<!-- FOOTER -->
<div class="span12" id="footer">
  &copy; ZombieCo 2012
</div>
</body>
</html>
