<!DOCTYPE html>
<html>
<head>
  <title>Archivists v. Zombies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
  <% if current_archivist %>
      Welcome <%= current_archivist.email %> | 
      <%= button_to 'logout', destroy_archivist_session_path, method: :delete %>
  <% else %>
      Welcome stranger | 
      <%= link_to 'login', new_archivist_session_path %>
  <% end %>
	| <%= link_to 'Instructional Video', 'http://www.youtube.com/watch?v=0UqEhUm2B_8', {:target => "_blank" } %>
  </div>
<%- if flash[:notice] %>
  <div class="msg notice"><%=flash[:notice]%></div>
<%end %>
<%= yield %>

</body>
</html>
